" ----------------- dmyTRUEk's ideavim config -----------------

" Source your .vimrc
source ~/.config/nvim/init.vim

" Find more examples here: https://jb.gg/share-ideavimrc

set scrolloff=5

map <C-o> <Action>(Back)
map <C-i> <Action>(Forward)
map <A-o> <Action>(Back)
map <A-i> <Action>(Forward)

map g[ <Action>(GotoPreviousError)
map g] <Action>(GotoNextError)
map gd <Action>(GotoDeclaration)
"map gi <Action>(GotoImplementation)
map <leader>r <Action>(RenameElement)
" TODO: better mapping (conflicts with go forward)
map <leader>i <Action>(Inline)

map <leader>b <Action>(RebuildGradleProject)
map <leader>c <Action>(Run)
map <leader>d <Action>(ShowErrorDescription)

map <leader>f <Action>(GotoFile)
map <leader>g <Action>(FindInPath)
map <leader>n <Action>(Switcher)

map <leader>z <Action>(ToggleDistractionFreeMode)

