# dmyTRUEk's snippets for LaTeX
#
# snippet modificators:
#   b -> will work only at begin of line
#   i -> inword, so that `text/` + <F8> -> `text\frac{...}{...}`
#   r -> regex name
#     abc?d? = [ab, abc, abcd]



# AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
priority 2
snippet ab "above = overset{...}{...}"
\overset{$1}{$2} $0
endsnippet

priority 3
snippet "angs?" "Angstroms" ir
\text{\normalfont\AA}
endsnippet

priority 3
snippet avg "average" i
\left\langle $1 \right\rangle $0
endsnippet



# BBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBBB
priority 2
snippet be "begin{...} ... end{}" b
\begin{$1}
    $2
\end{$1}
$0
endsnippet

priority 3
snippet bbc "big brackets { }" i
\left{ $1 \right}$0
endsnippet

priority 2
snippet "bbr?" "big brackets ( )" ir
\left( $1 \right)$0
endsnippet

priority 3
snippet bbs "big brackets [ ]" i
\left[ $1 \right]$0
endsnippet

priority 3
snippet bel "below = underset{...}{...}" i
\underset{$1}{$2}$0
endsnippet



# CCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCCC
priority 1
snippet c "center = begin{center} ... end{}" b
\begin{center}
    $1
\end{center}
$0
endsnippet

priority 2
snippet ca "cases = begin{cases} ... end{}"
\begin{cases}
    $1
\end{cases}
endsnippet

priority 4
snippet "compl?e?x?" "complex numbers symbol = C" ir
\mathbb{C}
endsnippet

# also named `vp`
priority 2
snippet cp "cross product = [A x B]" i
\left[ $1 \times $2 \right] $0
endsnippet



# DDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDDD
#snippet d "differential = dx" i
#\dd{$1}$0
#endsnippet

priority 3
snippet deg "degree symbol = ^o" i
\text{°}$0
endsnippet

#priority 3
#snippet div "divergence" i
#div
#endsnippet

priority 2
snippet ds "displaystyle = make formuls big if they are small" i
\displaystyle $0
endsnippet



# EEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE
priority 1
snippet e "equation = begin{equation} ... end{}" b
\begin{equation}
    $1
\end{equation}
$0
endsnippet

priority 2
snippet ec "equation+cases = begin{equation+cases} ... end{}" b
\begin{equation}
\begin{cases}
    $1
\end{cases}
\end{equation}
$0
endsnippet

priority 2
snippet eq "equivalent = ≡"
\equiv
endsnippet

priority 7
snippet eqbydef "equal by def = =_{def}"
\underset{def}{=}
endsnippet

priority 2
snippet es "equation+split = begin{equation+split} ... end{}" b
\begin{equation}
\begin{split}
    $1
\end{split}
\end{equation}
$0
endsnippet

priority 2
snippet "exp?" "exp = e^{...}" ir
e^{$1}$0
endsnippet



# FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF
priority 1
snippet f "image = begin{figure} ... end{}" b
\begin{figure} [H]
    \centering
    \includegraphics[scale=0.9]{$1}
    \caption{$2}
    \label{$3}
\end{figure}
$0
endsnippet

priority 3
snippet fol "follows = =>"
\quad\Rightarrow\quad
endsnippet

priority 4
snippet foll "long follows = ==>"
\qquad\Rightarrow\qquad
endsnippet



# GGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGGG
priority 2
snippet ga "alpha" i
\alpha
endsnippet

priority 2
snippet gA "Alpha" i
\Alpha
endsnippet

priority 2
snippet gb "beta" i
\beta
endsnippet

priority 2
snippet gB "Beta" i
\Beta
endsnippet

priority 2
snippet gc "gamma" i
\gamma
endsnippet

priority 2
snippet gC "Gamma" i
\Gamma
endsnippet

priority 2
snippet gd "delta" i
\delta
endsnippet

priority 2
snippet gD "Delta" i
\Delta
endsnippet

priority 2
snippet ge "epsilon" i
\varepsilon
endsnippet

priority 2
snippet gE "Epsilon" i
\Epsilon
endsnippet

priority 3
snippet "geta?" "eta" ir
\eta
endsnippet

priority 3
snippet "gEta?" "eta" ir
\Eta
endsnippet

priority 2
snippet gf "phi" i
\varphi
endsnippet

priority 2
snippet gF "Phi" i
\Phi
endsnippet

priority 2
snippet gg "gamma" i
\gamma
endsnippet

priority 2
snippet gG "Gamma" i
\Gamma
endsnippet

priority 2
snippet gh "chi" i
\chi
endsnippet

priority 2
snippet gH "Chi" i
\Chi
endsnippet

priority 2
snippet gi "iota" i
\iota
endsnippet

priority 2
snippet gI "Iota" i
\Iota
endsnippet

#priority 2
#snippet gj "alpha" i
#\alpha
#endsnippet

#priority 2
#snippet gJ "Alpha" i
#\Alpha
#endsnippet

priority 2
snippet gk "kappa" i
\varkappa
endsnippet

priority 2
snippet gK "Kappa" i
\Kappa
endsnippet

priority 2
snippet gl "lambda" i
\lambda
endsnippet

priority 2
snippet gL "Lambda" i
\Lambda
endsnippet

priority 2
snippet gm "mu" i
\mu
endsnippet

priority 2
snippet gM "Mu" i
\Mu
endsnippet

priority 2
snippet gn "nu" i
\nu
endsnippet

priority 2
snippet gN "Nu" i
\Nu
endsnippet

priority 2
snippet go "omega" i
\omega
endsnippet

priority 2
snippet gO "Omega" i
\Omega
endsnippet

priority 2
snippet gp "psi" i
\psi
endsnippet

priority 2
snippet gP "Psi" i
\Psi
endsnippet

#priority 2
#snippet gpi "pi" i
#\pi
#endsnippet

#priority 2
#snippet gPi "Pi" i
#\Pi
#endsnippet

# priority 2
#snippet gq "alpha" i
#\alpha
#endsnippet

#priority 2
#snippet gQ "Alpha" i
#\Alpha
#endsnippet

priority 2
snippet gr "rho" i
\rho
endsnippet

priority 2
snippet gR "Rho" i
\Rho
endsnippet

priority 3
snippet "grad?" "gradient = nabla vector" i
\overrightarrow{\nabla}$0
endsnippet

priority 2
snippet gs "sigma" i
\sigma
endsnippet

priority 2
snippet gS "Sigma" i
\Sigma
endsnippet

priority 2
snippet gt "theta" i
\theta
endsnippet

priority 2
snippet gT "Theta" i
\Theta
endsnippet

priority 3
snippet "gtau?" "tau" ir
\tau
endsnippet

priority 3
snippet "gTau?" "Tau" ir
\Tau
endsnippet

priority 2
snippet gu "upsilon" i
\upsilon
endsnippet

priority 2
snippet gU "Upsilon" i
\Upsilon
endsnippet

#priority 2
#snippet gv "nu" i
#\nu
#endsnippet

#priority 2
#snippet gV "Nu" i
#\Nu
#endsnippet

priority 2
snippet gw "omega" i
\omega
endsnippet

priority 2
snippet gW "Omega" i
\Omega
endsnippet

priority 2
snippet gx "xi" i
\xi
endsnippet

priority 2
snippet gX "Xi" i
\Xi
endsnippet

#priority 2
#snippet gy "alpha" i
#\alpha
#endsnippet

#priority 2
#snippet gY "Alpha" i
#\Alpha
#endsnippet

priority 2
snippet gz "zeta" i
\zeta
endsnippet

priority 2
snippet gZ "Zeta" i
\Zeta
endsnippet



# HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH
priority 1
snippet h "hat (operator) = A^" i
\hat{$1}$0
endsnippet

priority 2
snippet hb "hbar = ℏ" i
\hbar
endsnippet

priority 4
snippet half "... / 2" i
\frac{$1}{2}$0
endsnippet



# IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
priority 1
snippet i "\item ..."
\item $0
endsnippet

priority 3
snippet inf "infinity" i
\infty
endsnippet

priority 3
snippet ins "insertion"
\Bigg| \ $1 \ \Bigg| $0
endsnippet

priority 3
snippet int "integral"
\int\limits_{$1}^{$2} \dd{$3} $0
endsnippet

priority 5
snippet intii "integral"
\int\limits_{-\infty}^{+\infty} \dd{$1} $0
endsnippet

priority 5
snippet intzi "integral"
\int\limits_{0}^{+\infty} \dd{$1} $0
endsnippet

priority 3
snippet inv "1 / ..." i
\frac{1}{$1}$0
endsnippet

priority 2
snippet it "itemize = begin{itemize} ... end{}" b
\begin{itemize}
    $1
\end{itemize}
$0
endsnippet



# JJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJJ



# KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK



# LLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLLL
priority 3
snippet lap "laplace = Δ" i
\Delta
endsnippet

priority 2
snippet le "left equation = begin{fleqn+eqn}" b
\begin{fleqn} [\parindent]
\begin{equation}
    $1
\end{equation}
\end{fleqn}
$0
endsnippet

priority 3
snippet lim "limits when = ---...--->"
\underset{$1}{\rightarrow} $0
endsnippet



# MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM
priority 1
snippet m "matrix"
\begin{pmatrix}
    $1
\end{pmatrix} $0
endsnippet



# NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN
priority 1
snippet n "enumerate = begin{enumerate} ... end{}" b
\begin{enumerate}
    $1
\end{enumerate}
$0
endsnippet

priority 2
snippet np "newpage" b
\newpage
endsnippet

priority 3
snippet num "42.0 * 10^{76}" i
$1\cdot 10^{$2}$0
endsnippet



# OOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOO



# PPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPPP
# also named `gp`
priority 2
snippet pi "pi" i
\pi
endsnippet

priority 2
snippet Pi "Pi" i
\Pi
endsnippet


# QQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQQ



# RRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRRR
#priority 2
#snippet rot "rotor (curl)" i
#rot
#endsnippet



# SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS
priority 1
snippet s "section{...}" b
\section{$1}
$0
endsnippet

priority 2
snippet sp "split = begin{split} ... end{}" b
\begin{split}
    $1
\end{split}
endsnippet

priority 2
snippet "sqr?t?" "sqrt" ir
\sqrt{$1}$0
endsnippet

priority 2
snippet ss "subsection{...}" b
\subsection{$1}
$0
endsnippet

priority 2
snippet s2 "subsection{...}" b
\subsection{$1}
$0
endsnippet

priority 2
snippet s3 "subsubsection{...}" b
\subsubsection{$1}
$0
endsnippet

priority 3
snippet sss "subsubsection{...}" b
\subsubsection{$1}
$0
endsnippet

priority 3
snippet sum "sum" i
\sum\limits_{$1}^{$2} $0
endsnippet



# TTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTTT
priority 1
snippet t "table = begin{center+tabular} ... end{}" b
\begin{table} [H]
\begin{center}
\begin{tabular} {|c|c|}
    \hline
    $1
    \hline
\end{tabular}
\caption{}
\end{center}
\end{table}
$0
endsnippet

priority 5
snippet today "Today Date" i
`date +%4Y.%2m.%2d`
endsnippet



# UUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUUU



# VVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV
priority 1
snippet "ve?c?" "vector" ir
\vec{$1}$0
endsnippet

priority 4
snippet vect "long vector" i
\overrightarrow{$1}$0
endsnippet

# also named `cp`
priority 2
snippet vp "vector product = [A x B]" i
\left[ $1 \times $2 \right] $0
endsnippet

priority 2
snippet vs "vspace" i
\vspace{$1} $0
endsnippet



# WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW



# XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX



# YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY



# ZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZZ



# SYMBOLS SYMBOLS SYMBOLS SYMBOLS SYMBOLS SYMBOLS SYMBOLS SYMBOLS SYMBOLS SYMBOLS
priority 1
snippet / "\frac{}{}" i
\frac{$1}{$2}$0
endsnippet

