/** dmyTRUEk's Waybar CSS file */

* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
    font-family: JetBrains Mono, sans-serif;
    font-size: 13px;
}

#waybar {
    background: rgb(0, 0, 0); /* 40, 40, 40 */
    /* color: rgb(255, 255, 255); */
}

#workspaces button {
    color: rgb(255, 255, 255);
    padding-bottom: 1px;
    padding-top:    1px;
    padding-left:  14px;
    padding-right: 14px;
    box-shadow: inset 0 0px rgb(0, 0, 0);
    transition-duration: 0s;
}
#workspaces button.focused {
    background: rgba(80, 80, 80, 0.4); /* 16, 16, 16, 0.4 */
}
#workspaces button.focused:hover {
    background: rgba(80, 80, 80, 0.5); /* 16, 16, 16, 0.4 */
}
#workspaces button:hover {
    background: rgba(80, 80, 80, 0.2); /* 16, 16, 16, 0.2 */
    /* text-shadow: inherit; */
    /* box-shadow: inherit; */
}
/* #workspaces button.urgent { */
/*     /1* border-color: #c9545d; *1/ */
/*     color: #c9545d; */
/* } */

/* #cpu, */
/* #custom-media, */
/* #disk, */
/* #idle_inhibitor, */
/* #idle_inhibitor, */
/* #memory, */
/* #scratchpad, */
/* #temperature, */
#backlight,
#battery,
#clock,
#language,
#mode,
#network,
#pulseaudio,
#tray,
#window
{
    color: rgb(255, 255, 255);
    padding-left:  12px;
    padding-right: 12px;
    /* margin: 0 0px; */
    /* fix: remove animations */
    transition-duration: 0s;
    background: transparent;
    box-shadow: inset 0 0px rgb(0, 0, 0);
}





#mode {
    background: rgb(255, 127, 0);
    color: rgb(0, 0, 0);
}

#waybar.empty,
#waybar.floating
/* #waybar.solo */
{
    background: transparent;
    /* opacity: 0.5; */
}



/* #tray { */
/*     margin: 5px; */
/* } */

/* #custom-keyboard-layout { */
/*     /1* border-bottom: 3px solid #3daee9; *1/ */
/*     color: rgb(255, 255, 255) */
/* } */

/* #pulseaudio { */
/*     /1* border-bottom: 3px solid #3daee9; *1/ */
/*     color: rgb(255, 255, 255) */
/* } */
/* #pulseaudio.muted { */
/*     border-bottom: 3px solid #3daee9; */
/* } */

/* #backlight { */
/*     color: rgb(255, 255, 255) */
/* } */

/* #battery { */
/*     /1* background-color: #ffffff; *1/ */
/*     color: rgb(255, 255, 255) */
/* } */
#battery.charging {
    /* background-color: #26A65B; */
    color: rgb(205, 255, 205)
}
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* #clock { */
/*     /1* border-bottom: 3px solid #3daee9; *1/ */
/*     color: rgb(255, 255, 255) */
/* } */



/* label:focus { */
/*     background-color: #000000; */
/* } */

/* #cpu { */
/*     border-bottom: 3px solid #3daee9; */
/* } */

/* #memory { */
/*     border-bottom: 3px solid #3daee9; */
/* } */

/* #network { */
/*     border-bottom: 3px solid #3daee9; */
/* } */

/* #network.disconnected { */
/*     border-bottom: 3px solid #3daee9; */
/* } */

/* #temperature { */
/*     border-bottom: 3px solid #3daee9; */
/* } */

/* #temperature.critical { */
/*     background-color: #eb4d4b; */
/* } */

/* #idle_inhibitor { */
/*     background-color: #2d3436; */
/* } */

/* #idle_inhibitor.activated { */
/*     background-color: #ecf0f1; */
/*     color: #2d3436; */
/* } */

