/** dmyTRUEk's Waybar CSS file */

/* Set for all */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

#waybar {
    background: #222222;
    color: #ffffff;
    font-family: JetBrains Mono, Cantarell, Noto Sans, sans-serif;
    font-size: 13px;
}

window#waybar.empty {
    background-color: transparent;
    /* opacity: 0.5; */
}

#workspaces button {
    color: #ffffff;
    padding-bottom: 1px;
    padding-top: 1px;
    padding-left: 8px;
    padding-right: 8px;
    box-shadow: inset 0 0px #000000;
    transition-duration: 0s;
}

#workspaces button.focused {
    background: #444444;
}

#workspaces button:hover {
    background: #333333;
    text-shadow: inherit;
    /* box-shadow: inherit; */
}

#workspaces button.focused:hover {
    background: #444444;
}

/* #workspaces button.urgent { */
/*     /1* border-color: #c9545d; *1/ */
/*     color: #c9545d; */
/* } */

#mode {
    background-color: #ff8800;
    color: #000000;
}

#window,
#custom-keyboard-layout,
#clock,
/* #battery, */
/* #idle_inhibitor, */
/* #cpu, */
/* #memory, */
/* #temperature, */
/* #network, */
#pulseaudio,
#mode,
#tray {
    padding-left: 10px;
    padding-right: 10px;
    /* margin: 0 0px; */
}



/* #custom-keyboard-layout { */
/*     border-bottom: 3px solid #3daee9; */
/* } */



/* #clock { */
/*     border-bottom: 3px solid #3daee9; */
/* } */



/* #battery { */
/*     background-color: #ffffff; */
/*     color: #000000; */
/* } */

/* #battery.charging { */
/*     color: #ffffff; */
/*     background-color: #26A65B; */
/* } */

/* #battery.critical:not(.charging) { */
/*     background-color: #f53c3c; */
/*     color: #ffffff; */
/*     animation-name: blink; */
/*     animation-duration: 0.5s; */
/*     animation-timing-function: linear; */
/*     animation-iteration-count: infinite; */
/*     animation-direction: alternate; */
/* } */



/* label:focus { */
/*     background-color: #000000; */
/* } */



/* #cpu { */
/*     border-bottom: 3px solid #3daee9; */
/* } */

/* #memory { */
/*     border-bottom: 3px solid #3daee9; */
/* } */



/* #network { */
/*     border-bottom: 3px solid #3daee9; */
/* } */

/* #network.disconnected { */
/*     border-bottom: 3px solid #3daee9; */
/* } */



/* #pulseaudio { */
/*     border-bottom: 3px solid #3daee9; */
/* } */

/* #pulseaudio.muted { */
/*     border-bottom: 3px solid #3daee9; */
/* } */



/* #temperature { */
/*     border-bottom: 3px solid #3daee9; */
/* } */

/* #temperature.critical { */
/*     background-color: #eb4d4b; */
/* } */



/* #tray { */
/*     margin: 5px; */
/* } */



/* #idle_inhibitor { */
/*     background-color: #2d3436; */
/* } */

/* #idle_inhibitor.activated { */
/*     background-color: #ecf0f1; */
/*     color: #2d3436; */
/* } */

