Config(
  // The prefix that the search needs to begin with to yield symbol results
  prefix: "",
  // Custom user defined symbols to be included along the unicode symbols
  symbols: {
    "approximately equal to": "≈",
    "lorem ipsum": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.",
    "fumo happy round": "ᗜᴗᗜ",
    "fumo happy triangle": "ᗜˬᗜ",
    "fumo sad round": "ᗜ⁔ᗜ",
    "fumo sad triangle": "ᗜ˰ᗜ",
  },
  max_entries: 10,
)
